#icon{width: 40px;
    cursor: pointer;
    margin: 20px;
    float: right;
    height: 40px;
   
    }
    :root{  --primary-color:#fff;
        --secondary-color:#212121;
     
    }
    .dark-theme{
        --primary-color:#212121;
        --secondary-color:#fff;
    }
    body{
        background-color: var(--primary-color);
    }
    .main{
        display: flex;
        width: 100%;
        background-color: grey;
        background-position: center;
        background-size: cover;
        height: 200px;
    }
    .logo{
        color: white;
        font-size: 100px;
        font-family:monospace;
        display: flex;  
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .menu{
        float: left;
        height: 70px;
    }
    
    ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    ul li{
        padding-left: 50px;
        display: flex;
        list-style: none;
        margin-left: 50px;
        margin-top: 27px;
        font-size: 14px;
    }
    
    ul li a{
        text-decoration: none;
        color: #fff;
        font-family: Arial;
        font-weight: bold;
        transition: 0.4s ease-in-out;
    }
    
    ul li a:hover{
        color: #ff7200;
    }



.gallery
{
    padding: 10px 30px;
}
.gallery img
{
    width: 300px;
    padding: 10px;
    filter: grayscale(100%);
    transition: 1s;

}
.gallery img:hover
{
filter: grayscale(0);
transform: scale(1.1);
}
.end{
	font-family: Arial;
	text-align: center;
	font-size: 20px;
	color: white;
	background: grey;
	height:auto;
	width: 100%;
	margin: 0;
	padding: 0;
}
.end a{
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
}
.ULfooter{
	color: white;
	background: grey;
	height:auto;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.ULfooter{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ULfooter li{
	display: flex;
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;
	font-size: 14px;
}

.ULfooter li a{
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
}

 .ULfooter li a:hover{
	color: #ff7200;
}
.h2 h2
{
    color: var(--secondary-color);
}
p
{
    color: var(--secondary-color);
}
h3{
    color: var(--secondary-color);
}
h4{
    color: var(--secondary-color);
}
h5{
    color: var(--secondary-color);
}
table, th, td {
    border:1px solid var(--secondary-color);
  }
  table td
  {
      color: var(--secondary-color);
  }
  table th{
      color: var(--secondary-color);
  }